html 
    head 
        title Mis Notas 
        link(rel="stylesheet", href="/assets/stylesheet/reset.css")
        link(rel="stylesheet", href="/assets/stylesheet/applications.css")
        <script src="https://kit.fontawesome.com/e7e94ec313.js" crossorigin="anonymous"></script>
    body(class="expand")
        block content    