extends layout 

block content
    div(class="box-general")
        div(class="card")
            div(class="card-header")
                p Login
        form(action="/login" method='post')
            div(class="card-body")
                labe(for="email" class="form") Email 
                input(type="email" name="email" id="email")
                label(for="password" class="form") Password
                input(type="password" name="password" id="password")

            div(class="card-footer")
                div(class="option")
                    p Don't have an account?
                    a(href="/register" class="foot") Click here

                button(type="submit" class="btn1") Login