extends index

block body
    div(class="note-form-page")
        form(action="/notes" method="post")
            div
                input(type="text" id="title" name="title" placeholder="Insert the title" autocomplete="off")
            div 
                textarea(type="text" name="body" id="body" rows="8" placeholder="Insert your text ...")
            div(class="form-actions")
                a(href="/" class="btn") Cancel
                button(type="submit" class="btn btn-primary") Create Note 
       
    script 
        let textarea =document.getElementById("body");
        let heightLimit = 1000; 

        textarea.oninput = function() {
            textarea.style.height = "";
            textarea.style.height = Math.min(textarea.scrollHeight, heightLimit)+ "px";};