extends layout 

block content 
    form(action="/notes" method="post")
        div
            label(for="title") Title 
            input(type="text" id="title" name="title")
        //- div 
        //-     label(for="password") Password
        //-     input(type="password" name="password" id="password")
        div 
            label(for="body") Text
            textarea(type="text" name="body" id="body")
        //- div 
        //-     label(for="country") Country 
        //-     select(name="country" id="country")
        //-         option(value="PE") Perú
        //-         option(value="MX") Mexico
        //- div 
        //-     label(for="male") Male 
        //-     input(type="radio" id="male" name="gender" checked="true") 
        //-     label(for="female") Female 
        //-     input(type="radio" id="female" name="gender")
        //- div 
        //-     input(type="checkbox" id="terms" name="terms")
        //-     label(for="terms") Aceptar los terminos y condiciones 

        button(type="submit") Send